* {
  margin: 0;
  padding: 0;
}

:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  /* font-synthesis: none; */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 6px;
}

::-webkit-scrollbar-thumb {
  /* background-color: cadetblue; */
  background-color: gray;
  border-radius: 99999px;
}

a {
  color: darkslategrey;
  text-decoration: none;
}

a[data-tooltip] {
  position: relative;
  cursor: pointer;
  &:hover::after {
    content: attr(data-tooltip);
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    white-space: nowrap;
    z-index: 1000;
  }
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; /* Removes the default appearance */
  height: 15px; /* Adjust the size */
  width: 15px; /* Adjust the size */
  margin-right: 10px;
  background: url("../assets/xmark-solid.svg") no-repeat center center; /* Use a custom icon */
  background-size: contain; /* Adjust the size of the icon */
  cursor: pointer; /* Changes the cursor to a pointer when hovering over the button */
}

.fade-alert {
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
