.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-div {
  flex: 1 0 200px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* transition: all ease 200ms; */
}
.product-div:hover {
  /* background: #dcdafe !important; */
  /* background: #E4FBFF !important; */
  background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, #eedd44);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.text-part {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 50%;
  flex: 1;
}

.text-part > p {
  overflow-wrap: break-word;
  opacity: 0.3;
  display: none;
}

.product-div .img-label {
  flex: 1;
  min-height: 50%;
}

.product-img {
  margin-top: 10px;
  object-fit: contain;
  width: 100%;
  height: 90%;
}