.ULTIMA-BD {
  height: 750px;
}

.sec-top {
  width: 100%;
  height: 700px;
  position: relative;
}

.thumbnail {
  width: 100%;
  height: 400px;
  background-image: url("./assets/thumbnail/orange-product.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
/* .thumbnail img {
    object-fit: cover;
    width: 100%;
    height: 100%;
} */

.product-part {
  color: #3f3c98 !important;
  backdrop-filter: blur(60px);
  position: relative;
  top: -220px;
  width: 90%;
  height: 500px;
  border-radius: 70px !important;
  box-shadow: 0px 66px 0px -48px rgba(0, 0, 0, 0.1),
    inset 0px 0px 24px 24px rgba(25, 35, 2123, 0.1);
  display: flex;
  padding: 50px;
  gap: 20px;
}

.product-details-text {
  padding-top: 80px;
  display: flex;
  justify-content: center;
  /* font-family: "DotGothic16", sans-serif; */
  /* font-family: "Madimi One", sans-serif; */
  /* font-family: "Averia Gruesa Libre", system-ui; */
}

.Nm-Dscp-sec,
.image-prc-sec,
.Cnm-ordr {
  flex: 1;
  max-width: 33.33%;
  /* background: red; */
}

.Nm-Dscp-sec {
  max-width: 30%;
  padding-top: 50px;
  overflow-wrap: break-word;
  font-size: 50px;
}

.desc {
  max-width: 60%;
}

.Nm-Dscp-sec h6 {
  margin-top: 30px;
  line-height: 30px;
  color: gray !important;
}

.image-prc-sec .img-label img {
  object-fit: cover;
}
.image-prc-sec .img-label {
  height: 100%;
  width: 100%;
}

.Cnm-ordr {
  box-sizing: border-box;
  padding-left: 50px;
  display: flex;
  align-items: center;
}

.order_btn button,
.redirect-sign-label a {
  outline: none;
  border: none;
  border-radius: 20px;
  color: gold;
  padding: 20px;
  padding-inline: 50px;
  background: black;
  font-size: 16px;
  transition: all ease 200ms;
}
.order_btn button:hover,
.redirect-sign-label a:hover {
  font-size: 15px;
}
.order_btn button:active,
.redirect-sign-label a:active {
  font-size: 17px;
}