.PP-img-label {
  width: 400px;
  height: 500px;
  /* background: pink; */
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.PP-img-label > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 9999px;
}

.edit {
  position: absolute;
  border: none;
  bottom: 20px;
  right: 20px;
  background-color: whitesmoke;
  font-size: 20px;
  border-radius: 20px;
  padding-inline: 10px;
  padding-block: 3px;
}

.edit:active {
  font-size: 19px;
}

.page-label {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.page {
  width: 1530px;
  overflow: scroll;
  display: flex;
}

.sidebar {
  border-radius: 13px;
  background-color: aliceblue;
  width: 5%;
  height: 730px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding-top: 20px;
}

.sidebar > a,
.sidebar > button {
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0px 66px 0px -48px rgba(0, 0, 0, 0.1),
    inset 0px 0px 24px 24px rgba(25, 35, 2123, 0.1);
  transition: all ease-out 300ms;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: none;
}

.sidebar > a:hover,
.sidebar > button:hover {
  background-color: pink;
  border: 1px solid gray;
}

.sidebar > button:active {
  width: 60px;
  height: 65px;
}

.sidebar > .home {
  font-size: 30px;
  padding-inline: 10px;
  padding-block: 6px;
}

.sidebar > .order-history {
  font-size: 30px;
  padding-inline: 6px;
  padding-block: 6px;
}

.sidebar > .answers {
  font-size: 30px;
  padding-inline: 5.5px;
  padding-block: 6px;
}

.sidebar > .ingaged-orders {
  padding-inline: 8px;
}

.sidebar > .ingaged-orders > img {
  width: 46px;
  height: 44px;
}

.log-out-label {
  margin-top: auto;
  margin-bottom: 10px;
}

.log-out-label > button {
  border: none;
  background-color: #d20062;
  color: whitesmoke;
  font-size: 15px;
  padding-block: 15px;
  padding-inline: 5px;
  border-radius: 15px;
  transition: all ease-out 100ms;
}

.log-out-label > button:active {
  border: 3px solid pink;
  color: black;
}

.page > .main > .profile-body {
  width: 1300px;
  height: 650px;
  display: flex;
  background-color: aliceblue;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
}

.page > .main > .left,
.page > .main > .middle,
.page > .main > .right {
  overflow: hidden;
}

.page > .main > .profile-body > .PP-profile-label {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.page > .main > .profile-body > .PP-profile-label > div {
  display: flex;
  justify-content: center;
}

.page > .main > .profile-body > .PP-profile-label > div:nth-child(1) {
  width: 300px;
  display: flex;
  align-items: center;
}

.page > .main > .profile-body > .PP-profile-label > div:nth-child(2) {
  width: 500px;
}

.page > .main > .profile-body > .PP-profile-label > div:nth-child(3) {
  width: 350px;
  display: flex;
  align-items: center;
}

.submit-button {
  border: none;
  outline: none;
  padding-inline: 13px;
  padding-block: 10px;
  margin: 10px;
  background: #fff7fc;
  border: 1px solid silver;
  border-radius: 10px;
  color: dodgerblue;
}

.submit-button:active {
  border: 2px solid silver;
  color: darkgreen;
  background-color: aliceblue;
}

.page > .main > .profile-body > .PP-profile-label input {
  font-size: 30px;
  padding-left: 10px;
  outline: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: transparent;
  margin-bottom: 10px;
  font-family: "M PLUS 1 Code", monospace;
  font-style: normal;
  font-weight: 500;
}

.page
  > .main
  > .profile-body
  > .PP-profile-label
  input:not(.name-input-section):active {
  font-size: 23px;
}

.page > .main > .profile-body span {
  font-size: 30px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background: rgb(9, 9, 121);
  background: radial-gradient(
    circle,
    rgba(9, 9, 121, 1) 27%,
    rgba(0, 2, 36, 1) 76%,
    rgba(0, 255, 166, 1) 100%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.page > .main > .track-body {
  width: 90%;
  height: 90%;
}

.page > .main > .hist-body {
  width: 90%;
  height: 90%;
}

.order-body-history {
  margin-left: 20px;
  width: 56%;
  height: 10%;
  border-radius: 20px;
  margin-top: 20px;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.order-body {
  margin-left: 20px;
  width: 56%;
  height: 10%;
  border-radius: 20px;
  margin-top: 20px;
  background-color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.order-body > div > div > span {
  font-size: 20px;
  font-weight: normal;
  color: gray;
}

.order-body > div > .total {
  color: gray;
}

.order-body > div > div,
.order-body > div > i {
  font-size: 20px;
  font-weight: bold;
  color: coral;
}

.order-body > div > p {
  padding-top: 20px;
  font-size: 15px;
  font-style: oblique;
  font-weight: 500;
}

.order-body-history > div > div > span {
  font-size: 20px;
  font-weight: normal;
  color: gray;
}

.order-body-history > div > .total {
  color: gray;
}

.order-body-history > div > div,
.order-body-history > div > i {
  font-size: 20px;
  font-weight: bold;
  color: coral;
}

.order-body-history > div > p {
  padding-top: 20px;
  font-size: 15px;
  font-style: oblique;
  font-weight: 500;
}

.main > .ans-body {
  width: 90%;
  /* height: 100%; */
  display: flex;
  padding: 20px;
  align-items: center;
  flex-direction: column;
}

.page-label .page > .main {
  width: 95%;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.main > .ans-body > .answer {
  width: 60%;
  height: 340px;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  background-color: aliceblue;
  padding: 10px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.main > .ans-body > .answer > .top {
  background-color: azure;
  border: 1px dashed silver;
  width: 100%;
  height: 60%;
  border-radius: 20px;
}

.main > .ans-body > .answer > .top:hover {
  z-index: 1;
}

.main > .ans-body > .answer > .top > .body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.answer > .top > .body > .top {
  height: 20%;
  width: 100%;
  display: flex;
  padding: 7px;
  padding-inline: 20px;
}

.main .answer > .top > .body > .top > p {
  margin-left: auto;
}

.main .answer > .top > .body > .bottom {
  height: 79%;
  width: 99%;
  display: flex;
  background-color: whitesmoke;
  border-radius: 15px;
  padding: 7px;
  padding-inline: 10px;
  overflow-x: hidden;
}

.main > .ans-body > .answer > .bottom {
  width: 90%;
  height: 70%;
  position: absolute;
  bottom: 10px;
  border-radius: 40px;
  backdrop-filter: blur(10px);
  box-shadow: inset 0px 0px 24px 24px rgba(0, 0, 0, 0.03);
  padding: 5px;
}

.ans-body > .answer > .bottom > .top {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  padding-inline: 10px;
}

.ans-body > .answer > .bottom > .top > .adDate {
  margin-left: auto;
}

.ans-body > .answer > .bottom > .bottom {
  height: 79%;
  width: 99%;
  display: flex;
  padding: 7px;
  padding-inline: 10px;
  overflow-x: hidden;
}
